.navbar {
    height: 12.5rem;

    display: flex;
    justify-items: center;

    background: var(--gray-700);
}

.navbar a {
    display: flex;
    align-items: center;    
    justify-items: baseline;
    gap: .5rem;
    margin: auto;
}

.navbar a img {
    width: 1.4rem;
}

.navbar a span {
    font-size: 2.5rem;
    font-weight: bolder;
}

.navbar a span::before {
    content: 'to';
    color: var(--blue);
    font-weight: bolder;
}

.navbar a span::after {
    content: 'do';
    color: var(--purple);
    font-weight: bolder;
}
